[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gpxpy = "*"
pillow = "*"
requests = "*"
opencv-python = "*"
numpy = "*"
pytz = "*"

[dev-packages]
nuitka = "*"

[requires]
python_version = "3.13"
